{% assign lang = site.active_lang %}
<div class="user-details">
  <h1> {{ site.data.contents.about_title }} </h1>
  <p>{{ site.data["contents"]["about_description"] }}</p>
</div>

  <div class="user">
    <div class="tech">
       
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/python/python-original-wordmark.svg" width="80px">
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/flask/flask-original-wordmark.svg" width="80px" >
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nodejs/nodejs-original-wordmark.svg" width="80px">
                  
      <p>{{ site.data["contents"]["stack_description"] }}</p>
    </div>
   
    <div class="tech">
       
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original-wordmark.svg" width="80px">
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original-wordmark.svg" width="80px">
         <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg" width="80px">
       
      <p>{{ site.data["contents"]["stack_description"] }}</p>
    </div>
    <div class="tech">
       
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/mysql/mysql-original-wordmark.svg" width="80px">
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/postgresql/postgresql-original-wordmark.svg" width="80px">
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/mongodb/mongodb-original-wordmark.svg" width="80px" />      
 
      <p>{{ site.data["contents"]["stack_description"] }}</p>
    </div>
    
   
  </div>
