<div class="user"> 
  <div class="user-details">
    <div class="tech">    
      <h4> {{ site.data ["about"]["why_title"]}} </h4>
      <p>{{ site.data["about"]["why_description"] }}</p>
      <p>{{ site.data["about"]["why_description"] }}</p>
      <h4>
        <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}" target="_blank"> > Github </a>
        <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}" target="_blank"> > Linkedin</a>
      </h4>
    </div>
  </div>
</div>