<footer class="footer">
    <a class="up" href="#index" data-scroll><i class="icon fa fa-caret-up" aria-hidden="true"></i></a>
         
    <h1>
        <a aria-label="Send email" href="mailto:{{ site.email }}"><i class="icon fa fa-envelope" aria-hidden="true"></i></a>
        <a aria-label="My Github" target="_blank" href="https://github.com/{{ site.github_username }}"><i class="icon fa fa-github" aria-hidden="true"></i></a>
        <a aria-label="My LinkedIn" target="_blank" href="https://www.linkedin.com/in/{{ site.linkedin_username }}"><i class="icon fa fa-linkedin-square" aria-hidden="true"></i></a>
    </h1>     
    <p>&copy 2022 {{site.username}}</p>
    
</footer>
<script src="//cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script src="{{ '/assets/js/sweet-scroll.min.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/assets/js/main.js' | prepend: site.baseurl }}"></script>

{% if site.enable_darkmode %}
<script src="{{ '/assets/js/theme.js' | relative_url }}"></script>
<script src="{{ '/assets/js/dark_mode.js' | relative_url }}"></script>
{% endif %}

{% include google-analytics.html %}
