{% assign lang = site.active_lang %}
<div class="section-title">
  <h1> {{ site.data["contents"]["projects_title"] }} </h1>
  
</div>


<div class="project-container">
  <div class="project">
    <div class="project-content">
      <div class="project-label">Warehouses | AWS | Python | Spark</div>
      <h4 class="project-title">{{ site.data["contents"]["project_two_title"] }}</h4>
      <div class="project-details">
        <p>{{ site.data["contents"]["project_two_description"]}}</p>
        <ul>
          <li><a href="https://github.com/{{ site.github_username }}"> > Github Repo</a> </li>
          
        </ul>

      </div>
    </div>
    
    <div class="project-img">
      <img src='{{ "/assets/img/tree.jpg" | prepend: site.baseurl }}' alt="" />
    </div>
    
  </div>
</div>

<div class="project-container">
  <div class="project">
    <div class="project-content">
      <div class="project-label">Cloud Computing | SQL | Airflow </div>
      <h4 class="project-title">{{ site.data["contents"]["project_two_title"] }}</h4>
      <div class="project-details">
        <p>{{ site.data["contents"]["project_two_description"]}}</p>
        <ul>
          <li><a href="https://github.com/{{ site.github_username }}"> > Github Repo</a> </li>
          
        </ul>

      </div>
    </div>
    
    <div class="project-img">
      <img src='{{ "/assets/img/field.jpg" | prepend: site.baseurl }}' alt="" />
    </div>
    
  </div>
</div>
