{% assign lang = site.active_lang %}
<div class="user-details">
  <h1> {{ site.data["contents"]["projects_title"] }} </h1>
  
</div>

<div class="user-projects">
    <h3> {{ site.data["contents"]["project_one_title"] }}
    <a aria-label="My Github" target="_blank" href="https://github.com/{{ site.github_username }}"><i class="icon fa fa-github" aria-hidden="true"></i></a>
    </h3>

    <div class="images-right">
    <img src="{{ "/assets/img/field.jpg" | prepend: site.baseurl }}" width="500" />
    </div>
    <div class="contents">
      <p> {{ site.data["contents"]["project_one_description"]}}</p>
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/python/python-original-wordmark.svg" width="60" />
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/flask/flask-original.svg" width="60" />

      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/amazonwebservices/amazonwebservices-original-wordmark.svg" width="60"/>

    
    </div>

</div>

<div class="user-projects">
    <h3> {{ site.data["contents"]["project_two_title"] }}  
      <a aria-label="My Github" target="_blank" href="https://github.com/{{ site.github_username }}"><i class="icon fa fa-github" aria-hidden="true"></i></a>
    </h3>

    <div class="images-right">
    <img src="{{ "/assets/img/tree.jpg" | prepend: site.baseurl }}" width="500" />
    </div>
    <div class="contents">
      <p> {{ site.data["contents"]["project_two_description"]}}</p>
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original-wordmark.svg" width="50" />
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original-wordmark.svg" width="50"/>
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg" width="50"/>
    
    </div>

</div>
