:root {
  --color-background-top-bottom: #000;
  --color-font-header-foot: #fff ;

  --color-background-body: #fff;
  --color-font-body: #333 ;

  --color-link-hover: #333;
  --sun-display: none;
  --moon-padding-left: 10px ;
  --moon-padding-top: 12px;
  --moon-display: inline-flex;

}
html[data-theme='dark'] {
  --color-background-top-bottom: #CED89E;
  --color-font-header-foot: #064635 ;
  --color-background-body: #f0edd1;
  --color-font-body: #064635 ;
  --color-link-hover: #f0edd1;
 --sun-padding-left: 10px;
  --sun-padding-top:12px ;
  --sun-display: inline-flex;
  --moon-display: none;
}